@import "../common.scss";
@import "../mixins.scss";



.pets-sets {
	margin: 35px 0;
}

.pets-set {
	padding-right: 90px;
	&__actions {
		display: inline-block;
		position: absolute;
		right: 20px;
	}

	&__edit {
		margin-right: 30px;
	}
}


