@import "../common.scss";
@import "../mixins.scss";

.root-container {
	&__bone {
		position: absolute;
		top: 27%;
		left: -45px;
	}

	@include media-breakpoint-down(md) {
		&__bone {
			display: none;
		}
	}


	.filter-values {
		padding-left: 140px;
		color: #fff;
		font-size: 1.2em;
		flex-direction: column;
		flex-flow: column wrap;
		font-family: "ProximaNova Regular";
	}


	@include media-breakpoint-down(md) {
		.filter-values {
			padding-left: 25px;
		}
	}
}

.submit-search-filter {
	@include semicircle-column-bottom-button();
	@include upper-white-link();
	&:hover {
		text-decoration: underline;
	}
}

.find-friend-page {

	.pet-criteria-list {
		margin: 86px 0 90px 0;
	}

	.pets-selection-steps {
		display: table;

		&__prev {
			@include btn-text-link();
			display: table-cell;
			padding-right: 60px;
			vertical-align: bottom;
			color: #ebebeb;
		}

		&__progress {
			display: table-cell;
			width: 100%;
			position: relative;

			.progress {
				height: 0.5rem;
				overflow: visible;
				background-color: #ebebeb;
			}

			.progress-bar {
				position: relative;
				border-radius: 0.25rem 0 0 0.25rem;
				background-color: $primary-green;
			}
		}

		&__current-num {
			position: absolute;
			right: -15px;
			top: -40px;
			font-size: 2em;
			font-weight: 600;
			color: $primary-green;
			font-family: "ProximaNova Bold";
		}

		&__last-num {
			position: absolute;
			right: 0;
			color: #ebebeb;
			font-size: 1.2em;
			top: 0;
		}

		&__first-num {
			color: #ebebeb;
			font-size: 1.2em;
		}
	}
}



