@import "../common.scss";
@import "../mixins.scss";


.selection-recommendation {
	color: #fff;
}

.selection-filters {
	padding: 50px 0;
	width: 100%;

	& .gender {

		& img {
			vertical-align: middle;
		}

		& label {
			padding-left: 35px!important;
			cursor: pointer;
		}
	}

	& .pet-type {
		margin-top: 30px;

		& label {
			padding-left: 35px !important;
			color: #fff;
			cursor: pointer;
			vertical-align: middle;
		}

		& + .gender {
			& + .male-filter,
			& + .female-filter {
				text-align: left!important;
			}

			margin-top: 60px;
		}
	}
}

.range-slider-label {
	color: #fff;
}

