
.modal-open .modal.modal--regular {
	display: flex!important;
	align-items: center!important;

	.modal-dialog {
		flex-grow: 1;

		.modal-content {
			border-radius: 15px;
			width: 750px;
			margin: auto;

			@include media-breakpoint-down(sm) {
				width: 500px;
			}

			@include media-breakpoint-down(xs) {
				width: 300px;
			}

			.modal-header {
				flex-direction: column;
				align-items: flex-start;
				border-bottom: 0;
				padding: 65px 60px 20px 60px;

				@include media-breakpoint-down(xs) {
					padding: 45px 40px 20px 40px;
				}

				.modal-title {
					font-size: 2em;
				}

				.modal-subtitle {
					font-size: 1em;
					color: #cfcfcf;
				}
			}

			.modal-body {
				padding: 20px 60px 65px 60px;
				color: #2a2a2a;
				font-family: "ProximaNova Regular";

				@include media-breakpoint-down(xs) {
					padding: 20px 40px 45px 40px;
				}
			}

			.close {
				position: absolute;
				right: -30px;
				top: -30px;
				z-index: 33;
				opacity: 0.8!important;
				cursor: pointer;

				&:hover {
					opacity: 1!important;
				}
			}
		}
	}
}

@include media-breakpoint-up(md) {
	.modal--regular {
		.modal-dialog {
			max-width: 750px;
		}
	}
}