@import "../common.scss";
@import "../mixins.scss";


.result-page {

}

.range-slider-label {
	color: #fff;
}


.pet-card {
	border: 0;
	min-width: 350px;
	max-width: 600px;
	margin-bottom: 20px!important;

	&__selection {
		position: absolute;
		right: -7px;
		top: -7px;
		display: none;
		background-color: #fff;
		border-radius: 50%;
		padding: 17px 23px;
		height: 71px;
	}

	.card-img {
		border-radius: 15px;
	}

	.card-img-overlay {
		cursor: pointer;
		border-radius: 15px;
		overflow: hidden;
	}

	&__checkbox[type="checkbox"] + label {
	 	height: 25px;
    	top: 29px;
	}
   
	&__checkbox[type="checkbox"]:not(:checked) + label:before,
	&__checkbox[type="checkbox"]:checked + label:before{
		top: -21px;
	}

	&__checkbox[type="checkbox"]:not(:checked) + label:after,
	&__checkbox[type="checkbox"]:checked + label:after {
		top: -47px;
	}

	&:hover {
		.pet-card{

			&__selection {
				display: block;
			}

			&__checkbox {
				position: relative;
				display: none;
			}
		}

		.card-img {
		    box-shadow: 2px 2px 11px #444;
		}
	}
	
	&__price-label {
		@include price-label();

		&--not-available {
			@include label-not-available();
		}
	}

	&__breed-name {
		position: absolute;
		bottom: 15px;
		font-size: 1.4rem;
		color: #fff;
		margin-bottom: 0;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		font-family: "ProximaNova Regular";
	}

	.amount {
		position: absolute;
		top: 15px;
		color: #fff;
		font-family: "ProximaNova Regular";
		&__pets {
			margin-bottom: 0;
		}

		&__nursery {

		}
	}

	&--selected {
		.pet-card__selection {
			display: block;
		}

		.pet-card__checkbox {
			position: relative;
			display: none;
		}
	}
}

.pets-result-list {
	margin: 30px 0;
	position: relative;

	&__compare-btn {
		position: absolute;
		top: -70px;
		right: 0;
		font-size: 0.8rem;
	}

	@include media-breakpoint-down(sm) {
		margin-top: 100px;
	}
}

.selection-filters {
	margin-top: 60px;
}

.selection-filters-clear {
	@include semicircle-column-bottom-button();
	@include btn-text-link();
	color: #fff!important;
	text-decoration: none;
	font-size: 1em;
	cursor: pointer;

	@include media-breakpoint-down(sm) {
		padding: 0 20px;
	}
}

.selection-recommendation {
	color: #fff;
	font-family: "ProximaNova Regular";
}

.scroll-element.scroll-x {
    display: none !important;
}

