@import "../modal--in-top-right.scss";

.modal-content {
	.close {
		top: 15px;

		.white-cross {
			@include media-breakpoint-down(md) {
				display: none;
			}
		}

		.grey-cross {
			display: none;
			@include media-breakpoint-down(md) {
				display: block;
			}
		}
	}
}

.reg-btn {
	font-size: 0.8rem;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 5px;
	height: 40px;

	span {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		height: 19px;
		line-height: 19px;
	}
}

.nav-to-auth {
	font-size: 1rem;
	@include upper-green-link();
	letter-spacing: 0.05em;
}