@import "../common.scss";


.main-page {
	padding: 72px 0 90px 60px; 


	h1 {
		font-size: 3.6rem;
		font-weight: 500;
		color: #cfcfcf;
		font-family: "ProximaNova Semibold"
	}

	ul {
		list-style: none;
		padding-left: 0;
		padding: 30px 0;

		li {
			z-index: 9;
			padding: 30px 0;
			span {
				display: inline-block;
				max-width: 138px;
				font-weight: 600;
				vertical-align: middle;
				margin-left: 20px;
				font-size: 1rem;
				text-align: left;
				font-family: "ProximaNova Regular";
			}

			.benefit-icon {
				display: inline-block;
				min-width: 61px;
			}
		}

		@include media-breakpoint-down(xs) {
			li {
				text-align: center;
				span {
					text-align: center;
					margin-left: 0;
				}

				.benefit-icon {
					width: 100%;
					padding-bottom: 10px;
				}
			}
		}
	}

	.choose-pet {
		margin-top: 18px;
		padding-left: 30px;
		padding-right: 30px;
		line-height: 54px;
		height: 54px;
	}

	.socials {

	}
}

@include media-breakpoint-down(md) {
	.main-page {
		text-align: center;
		padding-left: 0;
	}
}