@import "../common.scss";
@import "../mixins.scss";


.selection-recommendation {
	color: #fff;
}

.selection-filters {
	padding: 50px 0;
	width: 100%;

	& .gender {
		margin-top: 30px;

		& img {
			vertical-align: initial;
		}

		& label {
			padding-left: 35px!important;
			cursor: pointer;
		}
	}

	.male-filter,
	.female-filter {
		overflow: hidden;

		@include media-breakpoint-down(md) {
			text-align: center;
		}
	}
}

.range-slider-label {
	color: #fff;
}

