
@mixin upper-green-link() {
	color: $primary-green!important;
	text-decoration: none!important;
	font-weight: 600;
	text-transform: uppercase;
	padding-right: 20px!important;
	padding-left: 20px!important;
}

@mixin upper-white-link() {
	color: #fff!important;
	text-decoration: none;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding-right: 20px!important;
	padding-left: 20px!important;
}

@mixin btn-text-link() {
	font-size: 1.2em;
	color: #cfcfcf;
	font-weight: 500;
	letter-spacing: 0.05rem;
}

@mixin semicircle-column-bottom-button() {

	display: inline-block;
	position: fixed;
	bottom: 60px;
	right: 60px;
	z-index: 99;


	@include media-breakpoint-down(md) {
		position: absolute;
		bottom: 20px;
		right: 60px;
	}


	@include media-breakpoint-down(sm) {
		right: 0px;
		bottom: 20px;
		position: absolute;
	}

}

@mixin rounded-button () {
	text-transform: uppercase;
	border-radius: 30px;
	border: 0;
	font-weight: 600;
	cursor: pointer;
	letter-spacing: 0.05em;
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 38px;
	height: 38px;
	white-space: nowrap;
}

@mixin price-label() {
	position: absolute;
	color: #fff;
	bottom: 50px;
	left: 0px;
	height: 46px;
	line-height: 46px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: $primary-green;
	border-radius: 0 20px 20px 0;
	font-size: 1.1em;
	margin-bottom: 0;
	font-weight: 600;
}

@mixin label-not-available() {
	position: absolute;
	color: #fff;
	bottom: 50px;
	left: 0px;
	height: 46px;
	line-height: 46px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 0 20px 20px 0;
	font-size: 1.1em;
	background-color: #c0c0c0;
	margin-bottom: 0;
}
