
.modal--in-top-right {
	width: 250px;
	right: 60px;
	left: initial;
	overflow: visible!important;

	.modal-title {
		color: $primary-green;
		font-size: 0.9rem;
		letter-spacing: 0.05em;
		padding-bottom: 15px;
		font-family: "ProximaNova Regular";
	}

	.modal-header {
		flex-direction: column;
		align-items: self-start;
		padding-left: 20px;
		padding-right: 20px;
		.social-auths {
			width: 100%;
			height: 37px;
		}
	}

	.modal-dialog {
		margin: 0;
	}

	.modal-body {
		padding-left: 20px;
		padding-right: 20px;
	}

	.modal-content {
		border: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	    box-shadow: 2px 2px 38px #777;

		.close {
			position: absolute;
			right: -40px;
			z-index: 33;
			opacity: 0.8!important;
			cursor: pointer;

			&:hover {
				opacity: 1!important;
			}
		}
	}

	.modal-footer {
		justify-content: center;
	}
}