@import "~nouislider/distribute/nouislider.min.css";


.noUi-horizontal {
	height: 5px;
	background-color: #afde9b;

	.noUi-handle {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background-color: #fff;
		outline: none!important;
		cursor: pointer;
		box-shadow: none;
		border: 0;
		top: -8px;

		&:before,
		&:after {
			display: none;
		}
	}
}

.noUi-connect {
	background-color: #fff;
}

.noUi-tooltip {
	background: $primary-green;
	border: 0;
	color: #fff;
	box-shadow: -4px 0px 25px $primary-green,
		4px 0px 25px $primary-green;
}

.noUi-marker-horizontal.noUi-marker-large {
	height: 0;
}

.noUi-value {
	top: 0;
	color: #fff;
}

.range-slider {
	position: relative;
}


#PriceRange .noUi-pips-horizontal {
	& .noUi-value:nth-child(2) {
		left: 3px!important;
	}

	& .noUi-value:nth-child(4) {
		right: -30px!important;
		left: initial!important;
	}
}

#GrowthRange .noUi-pips-horizontal {
	& .noUi-value:nth-child(2) {
		left: 3px!important;
	}

	& .noUi-value:nth-child(4) {
		right: -12px!important;
		left: initial!important;
	}
}

#WeightRange .noUi-pips-horizontal {
	& .noUi-value:nth-child(2) {
		left: 3px!important;
	}

	& .noUi-value:nth-child(4) {
		right: -12px!important;
		left: initial!important;
	}
}