@import "../modal--in-top-right.scss";

.auth-btn {
	width: 100%;
	font-size: 0.8rem;
	margin-top: 15px;
}

.link-keeper {
	width: 100%;
	text-align: center;
	padding-top: 15px;
}

.nav-to-reg {
	font-size: 1rem;
	@include upper-green-link();
	letter-spacing: 0.05em;
}